import os

try:
    MONGODB_HOST = str(os.environ['OPENSHIFT_MONGODB_DB_HOST'])
    MONGODB_NAME = 'DB_NAME'
    MONGODB_PORT = int(os.environ['OPENSHIFT_MONGODB_DB_PORT'])
    MONGODB_USER = "DB_USER"
    MONGODB_PWD = "PASSWORD"
except Exception as ex:
    print "We are in the local machine"
    MONGODB_HOST = 'localhost'
    MONGODB_NAME = 'DB_NAME'
    MONGODB_PORT = None
    MONGODB_USER = None
    MONGODB_PWD = None
